@font-face {
  font-family: amogus;
  src: url(amogus.ttf);
}

body {
  display: grid;
  justify-content: center;
  /* TODO change colour */
  background-color: whitesmoke;
  font-size: 1.1em;
}

article {
  padding: 1.5em;
  max-width: 50rem;
}

#github {
  text-align: center;
}
